.c-article {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  &__content {
    box-shadow: 0px 4px 40px rgb(0 0 0 / 7%);
    border-radius: 0 0 10px 10px;
    margin: 0;
    position: relative;
    height: 100%;
  }
  &__image {
    img {
      object-fit: cover;
      height: 204px;
      width: 100%;
      object-position: center;
      border-radius: 10px 10px 0 0;
    }
  }
  &__info {
    padding: 40px 20px 70px 26px;
    position: relative;
    border-radius: 0 0 10px 10px;
  }
  &__title {
    color: $black;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    font-family: $font-d;
    text-align: left;
    margin: 0;
    margin-bottom: 20px;
  }
  &__subtitle {
    color: $gray;
    font-family: $font-b;
    text-align: left;
    margin: 0;
  }
  &__mask {
    width: 100%;
    box-sizing: border-box;
    height: 30px;
  }
  &__link {
    color: $yellow;
    font-family: $font-c;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    position: absolute;
    bottom: 26px;
    left: 26px;
  }
}
