.c-button {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  text-align: center;
  color: $white;
  width: 170px;
  min-height: 50px;
  background-color: $yellow;
  padding: 15.5px;
  border-radius: 50px;
  text-transform: uppercase;
  font-style: normal;
  border: 0;
  cursor: pointer;
  &:hover {
    background-color: $blue;
  }
  &:disabled {
    background-color: #cfcfcf;
    cursor: not-allowed;
  }
}
