.c-home-title {
  &__title {
    margin: 0;
    font-family: $font-a;
    font-size: 80px;
    color: $black;
    font-weight: 700;
    line-height: 1.2;
    position: relative;
    z-index: 1;
    @include xs {
      font-size: 48px;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  }
  &__brush {
    width: 464px;
    height: 85px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20%;
    opacity: 0.2;
    margin-left: auto;
    margin-right: auto;
    background-image: url(~@/assets/img/img-brush-title.png);
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -9;
  }
}
