.c-social-link {
  margin: 0 15px;
  @include xs {
    margin: 0 5px;
  }
  &__img {
    position: relative;
    width: 60px;
    height: 60px;
    @include xs {
      width: 30px;
      height: 30px;
    }
  }
}
