<template>
  <button class="c-button" :class="btnStyle" v-bind="$attrs">
    {{ text }}
  </button>
</template>

<script>
export default {
  props: {
    text: {
      type: String,
      required: true,
    },
    btnStyle: {
      type: String,
      default: "",
    },
  },
};
</script>