<template>
  <input
    class="c-input"
    :class="inputStyle"
    v-bind="$attrs"
    :value="value"
    @input="$emit('input', $event.target.value)"
  />
</template>

<script>
export default {
  props: {
    inputStyle: {
      type: String,
      default: "",
    },
    value: {
      type: String,
    },
  },
};
</script>

<style lang="scss" scoped>
</style>