html,
body {
  font-size: 14px;
  line-height: 1.2;
  font-family: $font-a;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  height: auto;
  background-color: $gray2;
}

body {
  padding-top: 63px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-a;
  color: $black;
  padding: 0px;
  margin: 0px;
  text-transform: none;
}

p {
  font-family: $font-b;
  font-weight: inherit;
  color: inherit;
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
  font-size: inherit;
  line-height: inherit;
}

a {
  display: inline-block;
  width: auto;
  color: inherit;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

main {
  margin-top: -63px;
}
