$white: #ffffff;
$black: #24272a;
$gray: #3f454a;
$yellow: #d8ad3d;
$blue: #009cd9;
$red: #b72c2c;

// FONTS
$font-a: "Caveat", sans-serif;
$font-b: "Open Sans", sans-serif;
$font-c: "Source Sans Pro", sans-serif;
$font-d: "Raleway", sans-serif;

$padding_col: 20px;

$breakpoints: (
  xs: 0px,
  sm: 768px,
  md: 991px,
  lg: 1200px,
);
