.o-animation {
  &-animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    transition: all 0.4s ease;
  }
  &-zoom-in-image {
    animation-name: zoomInImage;
  }
  &-zoom-out-image {
    animation-name: zoomOutImage;
  }
  &-fade-in-up {
    opacity: 0;
    animation-name: fadeInUp;
  }
  &-fade-in-left {
    opacity: 0;
    animation-name: fadeInLeft;
  }
  &-fade-in-right {
    opacity: 0;
    animation-name: fadeInRight;
  }
  &-fade-out-down {
    opacity: 0;
    animation-name: fadeOutDown;
  }
  &-hover-rotate {
    transition: 0.3s transform ease-in-out;
    &:hover {
      transform: rotate(90deg);
    }
  }
  &-hover-float {
    transition: transform 0.5s ease-out, box-shadow 0.5s ease-out;
    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.08);
    }
  }
  &-hover-left {
    transition: 0.3s transform ease-in-out;
    &:hover {
      animation: none;
      transform: translateX(0);
    }
  }
  &-bounce-horizontal {
    animation: bounce-horizontal 3s infinite;
  }

  &-animate-out {
    animation-delay: 0ms;
  }
  &-duration-5 {
    animation-duration: 5s !important;
  }
  &-delay {
    animation-delay: 0.5s !important;
  }
  &-delay-1 {
    animation-delay: 1s !important;
  }
  &-delay-15 {
    animation-delay: 1.5s !important;
  }
}
