.o-col {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  &__cell {
    min-width: 100%;
    max-width: 100%;
    flex: 1 1 100%;
    @mixin grid-size($numerator, $denominator) {
      $min-width: (100% / (($denominator + 1) / $numerator)) + 1%;
      $max-width: math.div($denominator, $numerator);
      min-width: $min-width;
      max-width: $max-width;
      flex-basis: $min-width;
    }
    $fractions: (1, 2), (1, 3), (2, 3), (3, 4), (1, 4);
    @each $numerator, $denominator in $fractions {
      &--#{$numerator}\/#{$denominator} {
        @include grid-size($numerator, $denominator);
        @each $key, $size in $breakpoints {
          @media (min-width: $size) {
            &\@#{$key} {
              @include grid-size($numerator, $denominator);
            }
          }
        }
      }
    }
  }
}

//
// u-order.scss
// Defines our order utility classes to re-order columns for different browser sizes
//
@for $number from 1 through 10 {
  .u-order-#{$number} {
    order: $number;
    @each $key, $size in $breakpoints {
      @media (min-width: $size) {
        &\@#{$key} {
          order: $number;
        }
      }
    }
  }
}
